.col-sm-2.exist-logo.bmwi{:style => "background-image: url(#{ActionController::Base.helpers.asset_path("exist/bmwi.png")})"}
.col-sm-2.exist-logo.esf{:style => "background-image: url(#{ActionController::Base.helpers.asset_path("exist/esf.jpg")})"}
.col-sm-2.exist-logo.eu{:style => "background-image: url(#{ActionController::Base.helpers.asset_path("exist/eu.jpg")})"}
.col-sm-2.exist-logo.zzg{:style => "background-image: url(#{ActionController::Base.helpers.asset_path("exist/zzg.jpg")})"}
.col-sm-2.exist-logo.exist{:style => "background-image: url(#{ActionController::Base.helpers.asset_path("exist/exist.png")})"}
.col-sm-2.zollhof.exist-logo{:style => "background-image: url(#{ActionController::Base.helpers.asset_path("exist/zollhof.png")})"}
