<!DOCTYPE html>
<html>
  <head>
    <title>
      Basemate UI Core Docs
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
    <%= stylesheet_link_tag    'docs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'docs', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="basemate_ui">
      <%= yield %>
    </div>
  </body>
</html>
